@import "tailwindcss";
@plugin "daisyui";

*:focus {
    outline: 0;
}

/* Headers */
h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

/* Lists */
ul {
  list-style-type: disc;
  padding-left: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: block;
}

ul li {
  display: list-item;
  margin-bottom: 0.25rem;
}

ol {
  list-style-type: decimal;
  padding-left: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: block;
}

ol li {
  display: list-item;
  margin-bottom: 0.25rem;
}

/* Nested lists */
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}

/* Base text */
p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.tab {
  @layer daisyui.l1.l2.l3 {
    position: relative;
    display: inline-flex;
    cursor: pointer;
    appearance: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      @media (hover: hover) {
        color: var(--color-base-content) /* var(--color-base-content) */;
        overflow: scroll;
        z-index: 10;
      }
    }
    --tab-p: 0.75rem /* 12px */;
    --tab-bg: var(--color-base-100) /* var(--color-base-100) */;
    --tab-border-color: var(--color-base-300) /* var(--color-base-300) */;
    --tab-radius-ss: 0;
    --tab-radius-se: 0;
    --tab-radius-es: 0;
    --tab-radius-ee: 0;
    --tab-order: 0;
    --tab-radius-min: calc(0.75rem /* 12px */ - var(--border));
    --tab-radius-limit: min(var(--radius-field) /* var(--radius-field) */, var(--tab-radius-min));
    --tab-radius-grad: #0000 calc(69% - var(--border)),
      var(--tab-border-color) calc(69% - var(--border) + 0.25px),
      var(--tab-border-color) 69%,
      var(--tab-bg) calc(69% + 0.25px);
    border-color: #0000;
    order: var(--tab-order);
    height: var(--tab-height);
    font-size: 0.875rem /* 14px */;
    padding-inline: var(--tab-p);
    &:is(input[type="radio"]) {
      min-width: fit-content;
      &:after {
        --tw-content: attr(aria-label);
        content: var(--tw-content);
      }
    }
    &:is(label) {
      position: relative;
      input {
        position: absolute;
        inset: calc(0.25rem /* 4px */ * 0) /* 0rem = 0px */;
        cursor: pointer;
        appearance: none;
        opacity: 0%;
      }
    }
    &:checked, &:is(label:has(:checked)), &:is(.tab-active, [aria-selected="true"], [aria-current="true"], [aria-current="page"]) {
      & + .tab-content {
        display: absolute;
        background-color: green;
      }
    }
    &:not( :checked, label:has(:checked), :hover, .tab-active, [aria-selected="true"], [aria-current="true"], [aria-current="page"] ) {
      color: color-mix(in oklab, var(--color-base-content) /* var(--color-base-content) */ 50%, transparent);
    }
    &:not(input):empty {
      flex-grow: 1;
      cursor: default;
    }
    &:focus {
      --tw-outline-style: none;
      outline-style: none;
      @media (forced-colors: active) {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
    }
    &:focus-visible, &:is(label:has(:checked:focus-visible)) {
      outline: 2px solid currentColor;
      outline-offset: -5px;
    }
    &[disabled] {
      pointer-events: none;
      opacity: 40%;
    }
  }
}
