@import "tailwindcss";
@plugin "daisyui";

/* Headers */
h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

/* Lists */
ul {
  list-style-type: disc;
  padding-left: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: block;
}

ul li {
  display: list-item;
  margin-bottom: 0.25rem;
}

ol {
  list-style-type: decimal;
  padding-left: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: block;
}

ol li {
  display: list-item;
  margin-bottom: 0.25rem;
}

/* Nested lists */
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}

/* Base text */
p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
